<%= form_for(@diary) do |f| %>
  <div class="row">
    <div class="form-group col-xs-1">
      <%= link_to prev_day_path, class: "btn btn-link" do %>
        <span class="glyphicon glyphicon-triangle-left"></span>
      <% end %>
    </div>

    <div class="form-group col-xs-6 col-sm-4 col-ls-2">
      <input id="date_Get" type="date" value=<%= session[:picked_date] %> onchange="getData();" />
    </div>

    <div class="form-group col-xs-1">
      <%= link_to next_day_path, class: "btn btn-link" do %>
        <span class="glyphicon glyphicon-triangle-right"></span>
      <% end %>
    </div>
  </div>
<% end %>
