<div class="row">
  <% @graph_data.each do |key, data| %>
    <div class="row">
      <hr />
      <%= key %>
      <%= line_chart data, min: get_min(data), max: get_max(data), messages: {empty: "No data"} %>
    </div>
  <% end %>
</div>