<font size="4">
  <div class="row">
    <ul>
      <% if session[:view_mode] != 'show_search' %>
        <li>カテゴリ&nbsp;[<strong><%= session[:category] %></strong>]</li>
        <hr />
      <% end %>
      <% @diaries.each do |memo| %>
        <li><%= link_to memo.get(second_key_of_current_form), diary_path(id:memo.id) %></li>
      <% end %>
    </ul>
  </div>
</font>
