<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
    <%= render 'datepick' %>
  </div>

  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
    <%= @diary.summary %>
    <BR>
    <%= @diary.article %>
  </div>
</div>