<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">会員修正</div>
      <div class="panel-body">
        <%= render 'profile_input' %>
      </div>
    </div>
  </div>
</div>