<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>ユーザ情報</h4>
    </div>
    <div class="panel-body">
      <p>ユーザ名：<%= @user[:name] %></p>
      <p>email 　：<%= @user[:email] %></p>
    </div>
  </div>
</div>