<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>ユーザ情報</h4>
    </div>
    <div class="panel-body">
      <p>ユーザ名：<%= @user[:name] %></p>
      <p>email 　：<%= @user[:email] %></p>
    </div>
  </div>
  <div class="row">
    <br class="col-xs-12">
    <%= link_to '修正', edit_user_path(@user), class: 'btn btn-primary col-xs-2 col-sm-2 col-ls-1' %>
    <%= link_to '退会', @user, method: :delete, data: { confirm: '本当に退会しますか？' }, class: 'btn btn-danger col-xs-2 col-sm-2 col-ls-1' %>
  </div>
</div>