<div>
  <p>Simple Diaryの使い方を説明します。</p>
  <BR>
  <h5>1. 日記の入力画面です。</h5>
  <p><img src="/images/new_diary.png" class="img-responsive" alt="日記の入力"></p>
  <ul style="list-style: none;">
    <li>①　ここをクリックすると、日記の入力画面になります。</li>
    <li>②　ここをクリックすると、日付を前の日に変更します。</li>
    <li>③　ここで日付を入力して、移動のボタンを押すと、日付を指定した日に変更します。日付の欄をクリックすると、カレンダーから日付を入力できます。</li>
    <li>④　ここをクリックすると、日付を次の日に変更します。</li>
    <li>⑤　ここに、その日のトピックを入力しましょう。最大５０文字まで入力できます。</li>
    <li>⑥　ここに、その日の出来事を入力しましょう。</li>
    <li>⑦　日記の入力が終わったら、投稿ボタンを押しましょう。日記が保存されます。</li>
  </ul>
  <BR>
  <h5>1-1. 日記の日付を変更します。</h5>
  <p><img src="/images/pick_date.png" class="img-responsive" alt="日付の入力"></p>
  <ul style="list-style: none;">
    <li>①　月や年をカレンダーで選択できます。</li>
    <li>②③　前の日や後の日へ移動できます。</li>
  </ul>
  <BR>
  <h5>2. 日記の表示画面です。</h5>
  <p><img src="/images/show.png" class="img-responsive" alt="日記の表示"></p>
  <ul>
    <li>上部の「日記の表示」をクリックすると、日記の表示画面になります。</li>
    <li>日付の変更は、日記の入力画面と同じです。</li>
    <li>下部の修正ボタンで日記の修正、削除ボタンで日記の削除ができます。</li>
  </ul>
  <BR>
  <h5>3. 日記の検索の結果画面です。</h5>
  <p><img src="/images/search.png" class="img-responsive" alt="日記の検索"></p>
  <ul>
    <li>上部の「検索キーワード」と書かれたボックスに検索キーワードを入力し、検索ボタンを押すと、この画面になります。</li>
    <li>日記の日付をクリックすると、その日の日記の表示となります。</li>
  </ul>
</div>
