<h4>&lt;&lt; 素敵な記憶と出会う場所 &gt;&gt;</h4>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;あなたの日記帳</h4>
<br>
<% if logged_in? %>
  <br>
  <div class="h4">
    <p>使い方ガイド</p>
  </div>
  <%= render 'user_guide' %>
<% else %>
  <div class="h4"><%= link_to '新規登録', signup_path %></div>
<% end %>
