/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= jquery-ui
 *= jquery-ui/datepicker
 *= require_tree .
 *= require_self
 *= require bootstrap-datetimepicker
 */

#date-form {
  position: relative;
}

#app_title {
  margin-left: 20px;
}

#diary_info {
  margin-top: 40px;
}

.form_item {
  margin-left: 20px;
}

#form_term_label {
  text-align: right;
}

.diary_inline_input {
  margin-left: 5px;
}

.example-img {
  margin: 5px;
  padding: 5px;
  border: groove 5px;
}