<div class="navbar-brand">
  <ui class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Simple Diary
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Diary No.0', '/login/0' %></li>
      <li><%= link_to 'Diary No.1', '/login/1' %></li>
    </ul>
  </ui>
</div>
